<h1>Club privée de la swagance</h1>

<p>Tu es déja inscrit ?</p>
<p><a href="<%= login_path %>"><button type="button" name="button">Me connecter</button></a></p>

<p>Crée ton compte dès maintenant !</p>
<p><a href="<%= new_user_path %>"><button type="button" name="button">M'inscrire</button></a></p><br><br>
